################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DrugovichAutoPecas/.vs
/DrugovichAutoPecas/DrugovichAutoPecas.API/bin/Debug/net6.0
/DrugovichAutoPecas/DrugovichAutoPecas.API/obj
/DrugovichAutoPecas/DrugovichAutoPecas.Tests/bin/Debug/net6.0
/DrugovichAutoPecas/DrugovichAutoPecas.Tests/obj
